/* = Container العام  */
.old-era-container {
  font-family: 'Cinzel', serif;
  background: url('/static/images/old2.png') no-repeat center center;
  background-size: cover;
  color: #3c2d18;
  padding: 80px 20px;
  min-height: 100vh;
  min-height: 1000px;  /* ارتفاع الحاوية */
  max-height: 90000px;
}
/*  الهيدر  */
.header-section {
  text-align: center;
  margin-bottom: 80px;
  z-index: 2;
  position: relative;
}

.header-section h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #6e5d4d;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.735);
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.header-section p {
  font-size: 1.7rem;
  color: #5d4b3c;
  font-style: italic;

}

/* ===== Timeline ===== */
.timeline {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  border-left: 4px solid #675341;
}
/* كل حدث */
.event {
  position: relative;
  margin-bottom: 80px;
  padding: 25px 30px 25px 50px;
  background: rgba(245,235,210,0.6);
  border: 2px solid #6e5d4d;
  border-radius: 12px;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

/* رمز الحدث */
.event::before {
  content: "⚜️"; 
  position: absolute;
  left: -70px;
  top: -4px;
  background-color: #675341;
  color: #ffffff;
  font-size: 1.6rem;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #4b3621;
  box-shadow: 0 3px 8px rgba(0,0,0,0.5);
}
/* Hover على  */
.event:hover {
  transform: translateX(10px);
  box-shadow: 8px 8px 30px rgba(0,0,0,0.5);
}
.event:hover::before {
  transform: scale(1.3) rotate(15deg);
  background-color: #d3c5ad;
}
/* عنوان  */
.event h2 {
  font-family: 'Cinzel Decorative', serif;
  color: #5e3e22;
  font-size: 1.8rem;
  font-weight: 700px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #7a4f24;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
/* نص  */
.event p {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  line-height: 1.9;
  color: #5d4b3c;
  text-align: left;
}
/* ===== Responsive ===== */
@media (max-width: 768px) {
  .header-section h1 {
    font-size: 2.8rem;
  }
  .header-section p {
    font-size: 1.2rem;
  }
  .timeline {
    padding-left: 30px;
    border-left: 4px solid #7a4f24;
  }
  .event::before {
    left: -35px;
    font-size: 1.3rem;
  }
}
